// Editor styles for the Timeded Content Block
.wp-block-wp-timed-content-block {

	// Header styling
	.timed-content-block-editor__header {
		background-color: var(--wp--preset--color--light-gray);
		display: flex;
		align-items: center;
		font-weight: 600;
		color: var(--wp--preset--color--black);

		.dashicons {
			color: var(--wp--preset--color--black);
		}

		.timed-content-block-editor__schedule {
			margin-left: auto;
			font-size: 0.9em;
			font-weight: 400;
			display: flex;
			flex-direction: column;
			padding: 2px 8px;
			border-radius: 2px;
		}
	}

	// Content area
	.timed-content-block-editor__content {
		background: var(--wp--preset--color--white);

		// Style the block appender
		.block-list-appender {

			button {
				width: 100%;
				justify-content: flex-start;
				color: var(--wp--preset--color--white);
				background: var(--wp--preset--color--black);

				&:hover {
					background: var(--wp-admin-theme-color);
				}
			}
		}
	}
}
